以下のURLにアクセス頂きますと、メールアドレスの登録が完了いたします。
なお、以下のURLの有効期限は{{ .expire }}となっております。
有効期限を過ぎてしまった場合は、設定より再度メールアドレスの認証を行ってください。
{{ .url }}

■本メールにお心あたりがない場合
他の方が誤ってメールアドレスを入力した可能性がございます。
お手数ですが、本メールは破棄いただきますようお願い申し上げます。

--------

※本メールのメールアドレスは配信専用のため、本メールへ返信いただいても回答いたしかねます。